* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #191654,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-item {
  border-collapse: collapse;
  margin: 5px;
}

.marker {
  top: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
  border: 1px solid black;
}

.marker-btn {
  height: 100%;
  width: 100%;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: chartreuse;
  font-weight: 800;
}

.reset {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: aquamarine;
  font-weight: 700;
}

.reset:hover {
  cursor: pointer;
}

.result {
  padding: 10px;
  background-color: cadetblue;
  color: aliceblue;
  width: 50%;
  text-align: center;
  border: 2px dotted darkgray;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
